<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>MVC</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>DisplayOwner</display-name>
    	<servlet-name>DisplayOwner</servlet-name>
    	<servlet-class>com.uied.MVC.DisplayOwner</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>getValues</display-name>
    	<servlet-name>getValues</servlet-name>
    	<servlet-class>com.uied.MVC.getValues</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Login_Servlet</display-name>
    	<servlet-name>Login_Servlet</servlet-name>
    	<servlet-class>com.uied.MVC.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>selectOwner</display-name>
    	<servlet-name>selectOwner</servlet-name>
    	<servlet-class>com.uied.MVC.selectOwner</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Controller</display-name>
    	<servlet-name>Controller</servlet-name>
    	<servlet-class>com.uied.MVC.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>DisplayOwner</servlet-name>
    	<url-pattern>/DisplayOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>getValues</servlet-name>
    	<url-pattern>/getValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Login_Servlet</servlet-name>
    	<url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>selectOwner</servlet-name>
    	<url-pattern>/selectOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Controller</servlet-name>
    	<url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
